<div>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                data-target="#bs-example-navbar-collapse-9" aria-expanded="false"><span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span></button>
        <a class="navbar-brand" href="#">My App</a></div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-9">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Admin</a></li>
        </ul>
      </div>
    </div>
  </nav>
</div>

<div class="container">
<div class="admin-background">
  <table class="table table-bordered">
    <tr>
      <th>UserID</th>
      <th>Username</th>
      <th>Hash</th>
      <th>isAdmin</th>
    </tr>

    <tr *ngFor="let user of users">
      <td>{{user.userId}}</td>
      <td>{{user.username}}</td>
      <td>{{user.hash}}</td>
      <td>{{user.isAdmin}}</td>
    </tr>
  </table>
</div>
  </div>

