<span class="{{isHidden}}">
  <div class="panel panel-primary login-panel">
    <div class="panel-heading">
     <div class="panel-title">Please sign in</div>
      </div>
    <div class="panel-body">
  <form class="form-signin">


    <div class="input-group">
      <label for="inputUsername" class="sr-only">Email address</label>
      <span class="input-group-addon" ><div class="material-icons">person</div></span>
      <input [(ngModel)]="username" type="text" id="inputUsername" class="form-control" placeholder="Username" required autofocus>
    </div>

    <br/>
    <div class="input-group">
      <label for="inputPassword" class="sr-only">Password</label>
      <span class="input-group-addon"><div class="material-icons">vpn_key</div></span>
      <input [(ngModel)]="password" type="password" id="inputPassword" class="form-control" placeholder="Password" required>
    </div>
    <br/>
    <button (click)="onClickSubmit()" class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    <br/>
    <div class="alert alert-danger {{wasError}}">{{response}}</div>
  </form>
      </div>
    </div>
</span>