.form-signin{
    text-align: center;
    max-width:20%;
    margin-left: 40%;
    margin-right: 40%;
}

.login-panel {
    background-color: rgba(0, 0, 0, .6);
    border-color: rgba(100, 100, 100, .6);

}