

.sev-minor {
    background-color: #fffd00;
    color: orangered;
}

.sev-major{
    background-color: #ff0e00;
    color: #fffd00;
}

.action-result-success {
    background-color: #09be00;
    color: #fff;
}