
<div class="modal fade bs-clear-event-log-warning" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"><i class="mdi mdi-alert-outline"></i>&nbsp;Clear Event Log?</h4>
      </div>
      <div class="modal-body">
        <p>
          Are you sure you want to clear the event log?
        </p>
        <p> This will delete all of the events and cannot be undone!</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal" (click) = "clear()">Clear Events</button>
      </div>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">Events <button class="btn btn-danger btn-xs pull-right" data-toggle="modal" data-target=".bs-clear-event-log-warning">Clear All Logs</button> </div>
  <div class="panel-body">

    <table class="table">
      <tr>

        <th><div class="mdi mdi-timetable"></div>Timestamp</th>
        <th> <div class="mdi mdi-key-variant"></div> User Id</th>
        <th>Event Type</th>
        <th>Section</th>
        <th>Action</th>
        <th>ActionResult</th>
        <th>Event Severity</th>
      </tr>

      <tr *ngFor="let event of eventData" [class.action-result-success]="event.Result == 'ActionSuccess' && event.Severity == 'Normal'" [class.sev-minor]="event.Severity == 'Minor'" [class.sev-major]="event.Severity == 'Major'" >
        <td>{{event.Timestamp | date: 'yyyy/MM/dd hh:mm:ss a'}}</td>
        <td>{{event.User}}</td>
        <td>{{event.Type}}</td>
        <td>{{event.Section}}</td>
        <td>{{event.Action}}</td>
        <td>{{event.Result}}</td>
        <td>{{event.Severity}}</td>
      </tr>
      </table>
  </div>
</div>