
<div class="panel panel-default">
  <div class="panel-heading">Events <button class="btn btn-danger btn-xs pull-right" (click) = "clear()">Clear All Logs</button> </div>
  <div class="panel-body">

    <table class="table">
      <tr>

        <th><div class="mdi mdi-timetable"></div>Timestamp</th>
        <th> <div class="mdi mdi-account-network"></div>IP Address</th>
        <th> <div class="mdi mdi-key-variant"></div> User Id</th>
        <th>Event Type</th>
        <th>Section</th>
        <th>Action</th>
        <th>ActionResult</th>
        <th>Event Severity</th>
      </tr>

      <tr *ngFor="let event of eventData" [class.action-result-success]="event.Result == 'ActionSuccess' && event.Severity == 'Normal'" [class.sev-minor]="event.Severity == 'Minor'" [class.sev-major]="event.Severity == 'Major'" >
        <td>{{event.Timestamp | date: 'yyyy/MM/dd hh:mm:ss a'}}</td>
        <td>{{event.IPAddress}}</td>
        <td>{{event.User}}</td>
        <td>{{event.Type}}</td>
        <td>{{event.Section}}</td>
        <td>{{event.Action}}</td>
        <td>{{event.Result}}</td>
        <td>{{event.Severity}}</td>
      </tr>
      </table>
  </div>
</div>