

<div class="panel panel-default">
  <div class="panel-heading">Users</div>
  <div class="panel-body">

    <table class="table">
      <tr>
        <th><i class="mdi mdi-account"></i>&nbsp;Username</th>
        <th><i class="mdi mdi-seal"></i>&nbsp; IsAdmin</th>
        <th><i class="mdi mdi-delete"></i>&nbsp; Delete</th>
      </tr>

      <tr *ngFor="let user of userData">
        <td>{{user.username}}</td>
        <td class="mdi" [class.mdi-checkbox-marked]="user.isAdmin" [class.mdi-checkbox-blank]="!user.isAdmin"></td>
        <td><btn class="btn btn-xs btn-danger" (click)="delete(user.userId)">X</btn></td>
      </tr>
    </table>

  </div>
</div>