

<div class="panel panel-default">
  <div class="panel-heading">Users</div>
  <div class="panel-body">

    <table class="table">
      <tr>
        <th><i class="mdi mdi-account"></i>&nbsp;Username</th>
        <th><i class="mdi mdi-fingerprint"></i> &nbsp;Hash</th>
        <th><i class="mdi mdi-seal"></i>&nbsp; IsAdmin</th>
      </tr>

      <tr *ngFor="let user of userData">
        <td>{{user.username}}</td>
        <td>{{user.hash}}</td>
        <td class="mdi" [class.mdi-checkbox-marked]="user.isAdmin" [class.mdi-checkbox-blank]="!user.isAdmin"></td>
      </tr>
    </table>

  </div>
</div>